<!DOCTYPE html>
<html lang="en">
<head>
	<title>Course - Teachers</title>
	<% include header%>
	<link rel="stylesheet" type="text/css" href="styles/elements_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/elements_responsive.css">
	<style type="text/css">
		.card-img-top {
			width: auto;
			.max-width: 350px;
			height: 300px;
		}
		.card_img{
			text-align:center;
		}
	</style>

	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/contact_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Admissions</h1>
		</div>
	</div>

	<!-- Progress Bars and Accordions -->

	<div class="pbars_accordions">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="elements_title">Procedure</div>
				</div>
				<div class="col-lg-12">
					<p style="padding-top: 15px;">
						Education is the act of learning things around us. The simple rule of getting admission in this school is that your child should be 5 years old if he/she is applying for admission in 1st standard. The education is absolutely free for all students. Government makes sure that no child misses education because of poverty. Books, uniform and all the necessary things are provided by the government.
						For more information click <a href="http://rajrmsa.nic.in/Home/Public2/Default.aspx">here</a>

					</p>
				</div>
				<br>
				<br>
				<div class="col-lg-12">
					<div class="elements_title">Our Statistics</div>
					<br>
				</div>
			</div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col" width="10%">#</th>
						<th scope="col" width="50%">Boys</th>
						<th scope="col" width="40%">Girls</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>94</td>
						<td>170</td>
					</tr>
					<!-- <tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>

	<!-- Milestones -->
	<div class="milestones">

		<div class="milestones_container">
			<div class="milestones_background" style="background-image:url(images/milestones_background.jpg)"></div>

			<div class="container">
				<div class="row">

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_1.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="264">0</div>
							<div class="milestone_text">Current Students</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_2.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="15">0</div>
							<div class="milestone_text">Certified Staff</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_3.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="1">0</div>
							<div class="milestone_text">Senior Streams</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="images/milestone_4.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="5" data-sign-before="+">0</div>
							<div class="milestone_text">Star Rating</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Footer -->

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="styles/bootstrap4/popper.js"></script>
	<script src="styles/bootstrap4/bootstrap.min.js"></script>
	<script src="plugins/greensock/TweenMax.min.js"></script>
	<script src="plugins/greensock/TimelineMax.min.js"></script>
	<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
	<script src="plugins/greensock/animation.gsap.min.js"></script>
	<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
	<script src="plugins/progressbar/progressbar.min.js"></script>
	<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
	<script src="plugins/easing/easing.js"></script>
	<script src="js/elements_custom.js"></script>
	<% include footer %>